body {
    font-family: "游ゴシック";
    white-space: nowrap;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}



a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
    float: left;
    position: relative;
    top: 0;
    margin: 0;
    margin-left: 50px;
}

h1 a {
    color: black;
}

h1 a:hover {
    font-weight: bold;
}

.nav_menu1 {
    display: flex;
    margin: 10px;
    margin-right: 5%;
    padding: 5px;
    position: relative;
    right: auto;
    justify-content: right;
    align-items: center;
    list-style: none;
}

.nav_menu1_item {
    padding: 0 10px;
}

.nav_menu1_item a {
    font-size: 15px;
    color: #a0a0a0;
}

.nav_menu1_item a:hover {
    border-bottom: 1px solid #a0a0a0;
}

.nav_menu2 {
    margin: 0;
    padding: 10px;
    height: 60px;
    width: 100%;
    clear: left;
    display: flex;
    background-color: #42417A;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.nav_menu2_item {
    padding: 0 20px;
}

.nav_menu2_item i {
    font-size: 18px;
}

.nav_menu2_item a {
    font-size: 15px;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s;
}

.nav_menu2_item a:hover {
    background-color: white;
    color: #42417A;
}

.glass {
    width: 500px;
    height: 35px;
    margin: 0 30px;
    padding: 0;
    position: relative;
}

.glass i {
    font-size: 15px;
}

.glass input {
    width: 90%;
    height: 100%;
    border-radius: 100px 0 0 100px;
    border: none;
    background-color: #fcfcfc;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0 30px;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.glass button {
    width: 10%;
    height: 100%;
    border-radius: 0 100px 100px 0;
    border: none;
    background-color: #fcfcfc;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.glass button:hover i {
    color: #fa5c67;
    transform: scale(1.1);
}

.glass button:active i {
    transform: scale(0.8);
}

.login {
    margin-left: 50px;
}

.nav_menu3 {
    margin: 0;
    padding: 10px;
    height: 45px;
    width: 100%;
    display: flex;
    background-color: #56679c;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav_menu3_item {
    padding: 0 3%;
}

.nav_menu3_item a {
    color: white;
    font-size: 15px;
}

.nav_menu3_item a:hover {
    border-bottom: 1px solid white;
    transition: 0.3s;
}

.cont {
    position: relative;
    top: 155px;
    width: 100%;
    height: 2000px;
    padding: 30px;
    z-index: 1;
    text-align: center;
}

button {
    cursor: pointer;
}

/* ここからそれぞれのコード */



/* ----------------------- */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.foot-wrap {
    background-color: #ebebeb;
    color: #56557D;
    text-align: center;
    position: relative;
    padding-top: 0;
    height: 400px;
}

.foot-wrap .menu-left, .menu-center, .menu-right {
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.foot-wrap ul {
    list-style: none;
    padding: 0;
    line-height: 40px;
}

.foot-wrap h3 {
    padding: 10px;
}

.foot-wrap a {
    text-decoration: none;
    color: white;
}

.foot-wrap a:hover {
    color: #56557D;
    font-weight: bold;
}

.foot-wrap .cmark {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #42417A;
    color: white;
    position: absolute;
    bottom: 0;
}

